.board-container {
    width: 500px;
    aspect-ratio: 1024 / 1024;   /* keeps same proportion as image */
    background-image: url("D:\project\snake_ladder_game\snake_ladder_game\public\final.jpg");
    background-size: cover;      /* fills the div */
    background-position: center;
    background-repeat: no-repeat;
    /* width: 500px;
    height: 500px; */
    /* border: 2px solid black; */
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}   

.block{
    display: none; 
    border: 1px solid black;
}